<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Noto+Serif&display=swap" rel="stylesheet">

<body>
    <div class="main">
        <header>
            <h1>Ad Astra</h1>
        </header>

        <hr class="t1">
        <img class= "poster" src="https://image.tmdb.org/t/p/original/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg">
        <ul>
            <li>Original Language:  <p>en</p></li>
            <li>Creation date:  <p>2019-09-17</p></li>
            <li>Popularity:  <p>379.049</p></li>
            <li>Vote Count:  <p>2099</p></li> <br>
            <li>Average  <br> <app-evaluation2 [evaluation]="3"></app-evaluation2> </li>
        </ul>

        <hr class="t2">
        <p class="annee">(2019)</p>
        <h2>description</h2>
        <hr class="t3">
        <p class="desc">
            The near future, a time when both hope and hardships drive humanity to look to the stars and beyond.
            While a mysterious phenomenon menaces to destroy life on planet Earth, astronaut Roy McBride
            undertakes a mission across the immensity of space and its many perils to uncover the truthabout
            a lost expedition that decades before boldly faced emptiness and silence in search of the unknown.
        </p>
    </div>
</body>