i {
    color: rgb(204, 190, 143);
    margin-top: 5%;
    margin-left: 4%;
    height: 30px;
    width: 30px;
    opacity: 0;
    animation-name: st;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes st {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}